.search-content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 9px;
}
.search-content ion-button{
  height: 60px;
  margin: 0;
  padding: 8px 0 8px;
}
.moremovie {
  width: 95%;
  margin: 0 auto 10px;
}
