.search-content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 9px;
}
.search-content button.button-default{
  margin: 8px 0;
  padding: 22px 16px;
}
.moremovie {
  width: 95%;
  margin: 0 auto 10px;
}
