<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title>
            <ion-icon name="md-search"></ion-icon>
            {{t.__('Search for movies')}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- SearchBar -->
    <div class="search-content">
        <ion-searchbar (input)="onSearch($event.target.value)" [placeholder]="t.__('Search for')"></ion-searchbar>
        <ion-button padding (click)="toQRCode()">
            <ion-icon name="qr-scanner"></ion-icon>
        </ion-button>
    </div>

    <!-- Infos -->
    <div *ngIf="searching">
        <p text-center>{{t.__("Search in progress...")}}</p>
    </div>

    <div *ngIf="(!movies || movies.length === 0) && !searching">
        <p text-center>{{t.__("No results found")}}</p>
    </div>

    <!-- Content -->
    <ion-list *ngIf="movies">
        <app-movie-item-list *ngFor="let movie of movies" [movie]="movie" [fav]="false"></app-movie-item-list>
    </ion-list>

    <!-- More -->
    <ion-button *ngIf="movies && movies.length > 0 && !searching && !noMoreMovies" padding expand="full"
            (click)="getMore()" class="moremovie">
        {{t.__("More movies")}}
    </ion-button>
</ion-content>
