<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-icon name="md-star" slot="end"></ion-icon>
            {{t.__("My favorites")}}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <!-- Infos -->
    <div *ngIf="!favMoviesList || favMoviesList.length === 0">
        <p text-center>{{t.__("You have no favorites")}}</p>
    </div>

    <!-- Content -->
    <ion-list *ngIf="favMoviesList">
        <app-movie-item-list *ngFor="let movie of favMoviesList" [movie]="movie" [fav]="true"></app-movie-item-list>
    </ion-list>
</ion-content>
