<ion-header>
  <ion-navbar>
    <ion-title>Mes favoris</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding *ngIf="favMoviesList">
    <div *ngFor="let favMovie of favMoviesList">
        <ion-card>
            <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{favMovie.getPosterPath()}}"/>
            <ion-card-content>
                <ion-card-title>
                    {{favMovie.getTitle()}}
                    {{favMovie.getPosterPath()}}
                </ion-card-title>
            </ion-card-content>
            <ion-row no-padding>
                <!--<ion-col>
                    {{favMovie.getGenre()}}
                </ion-col>
                <ion-col>
                    {{favMovie.getRuntime()}} min.
                </ion-col>-->
            </ion-row>
        </ion-card>
    </div>
</ion-content>
