<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-icon name="md-star" padding-right></ion-icon>
            Mes favoris
        </ion-title>
    </ion-navbar>
</ion-header>



<ion-content>
    <!-- Infos -->
    <div *ngIf="!favMoviesList || favMoviesList.length === 0">
        <p text-center>Vous n'avez aucun favori</p>
    </div>

    <!-- Content -->
    <ion-list *ngIf="favMoviesList">
        <movie-item-list *ngFor="let movie of favMoviesList" [movie]="movie" [fav]="true"></movie-item-list>
    </ion-list>
</ion-content>