<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-icon name="md-search" padding-right></ion-icon>
            Rechercher des films
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- SearchBar -->
    <div class="search-content">
        <ion-searchbar (ionInput)="onSearch($event.target.value)" placeholder="Rechercher"></ion-searchbar>
        <button ion-button padding navPush="QrscannerPage">
            <ion-icon name="qr-scanner"></ion-icon>
        </button>
    </div>

    <!-- <separator></separator>  -->

    <!-- Infos -->
    <div *ngIf="searching">
        <p text-center>Recherche en cours ...</p>
    </div>

    <div *ngIf="(!movies || movies.length === 0) && !searching">
        <p text-center>Aucun résultats</p>
    </div>

    <!-- Content -->
    <ion-list *ngIf="movies">
        <movie-item-list *ngFor="let movie of movies" [movie]="movie" [fav]="false"></movie-item-list>
    </ion-list>

    <!-- More -->
    <button *ngIf="movies && movies.length > 0 && !searching && !noMoreMovies" ion-button padding full (click)="getMore()" class="moremovie">
        Plus de films
    </button>
</ion-content>