<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<html *ngIf="movie">
<ion-header>

    <ion-navbar>
        <ion-title>{{movie.getTitle()}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="has-header">
    <ion-card>
        <div item-start>
            <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{movie.getPosterPath()}}">
            <ion-spinner></ion-spinner>
            <button class="fav-button" ion-button round (click)="addToFavorites(movie)">
                <ion-icon name="star"></ion-icon>
            </button>
        </div>
        <ion-card-content>
            <ion-card-title>
                {{movie.getTitle()}}
                <ion-badge color="light"><span [ngClass]="{'good': movie.getVoteAvg() > 7, 'average': movie.getVoteAvg() >= 3.5 && movie.getVoteAvg() <= 7, 'bad': movie.getVoteAvg() < 3.5}">{{movie.getVoteAvg()}}/10</span></ion-badge>
            </ion-card-title>
            <span *ngFor="let genre of movie.getGenre()">
                <ion-badge color="primary">{{genre.name}}</ion-badge>
            </span>
            <br>

            <ion-badge color="danger">{{movie.getReleaseDate()}}</ion-badge>
            <ion-badge color="danger">{{movie.getRuntime()}}</ion-badge>
            <br>
            <br>
            <h2>Synopsis : </h2>
            <p>
                {{movie.getOverview()}}
            </p>
        </ion-card-content>
    </ion-card>
    <!-- <div item-start>
        <ion-img width="150" height="120" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{movie.getPosterPath()}}"></ion-img>
        <ion-spinner></ion-spinner>
    </div>
    <h2 text-wrap>{{movie.getTitle()}}</h2>
    <p><span [ngClass]="{'good': movie.getVoteAvg() > 7, 'average': movie.getVoteAvg() >= 3.5 && movie.getVoteAvg() <= 7, 'bad': movie.getVoteAvg() < 3.5}">{{movie.getVoteAvg()}}/10</span>
        • {{movie.getReleaseYear()}}</p>
    <button ion-button padding (click)="mProvider.setMovieId(movie.id)" navPush="DetailPage">
        En savoir plus
        <ion-icon name="eye" padding-left></ion-icon>
    </button> -->
    <!-- <a (click)="addToFavorites(movie)">
        <button color="red" ion-button icon-start round>
            <ion-icon name="heart"></ion-icon>
        </button>
    </a> -->



</ion-content>

</html>