@import "../../../theme/variables";

//Set a loader inside img poster
app-movie-item-list div[item-start]{
  position: relative;
}
app-movie-item-list ion-img, app-movie-item-list img {
  width: 80px;
  height: 120px;
  background: map-get($colors, secondary)!important;
}
app-movie-item-list ion-spinner{
  position: absolute;
  left: calc(50% - 14px);
  top: calc(50% - 14px);
  display:none;
}

//other
app-movie-item-list button.item-button {
  margin-top: 10px!important;
}

app-movie-item-list ion-spinner * {
  stroke: map-get($colors, primary)!important;
}
